nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    height: 8vh;
    width: 100%;
    position: fixed;
    background-color: black;
}
nav .hamburger
{
    display: none;
}
nav .menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media (max-width: 700px)
{
    .menu
    {
        width: 100%;
        position: absolute;
        height: 100vh;
        top: 0vh;
        z-index: -1;
        left:-100%;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    nav .hamburger
    {
        display: block;
    }
    .active
    {
        left: 0;
    }
}